.profile {
	display: flex;
	align-items: center;
	width: 600px;
	color: #fffffe;

	&__photo {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin: 20px;
	}

	&__description {
		font-size: 18px;
	}

	&__email {
		text-decoration: none;
		color: inherit;
		font-weight: bold;
	}

	&__github {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 130px;
		height: 45px;
		font-size: 22px;
		border-radius: 2px;
		background-color: #7f5af0;
		font-weight: 400;
		text-decoration: none;
		color: inherit;
		margin-top: 20px;
	}

	&__github-logo {
		width: 20px;
		height: 20px;
		margin: 5px;
	}
}
@media (max-width: 600px) {
	.profile {
		@media (max-width: 600px) {
			flex-direction: column;
			width: 100%;
			margin: 0 30px;

			&__about-me {
				text-align: center;
			}

			&__github {
				margin: 20px auto;
			}
		}
	}
}
