@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.blog-header {
	color: #7f5af0;
	a {
		text-decoration: none;
		color: inherit;
	}

	&__back {
		font-size: 14px;
	}
}

.blog-post {
	color: #fffffe;
	font-family: 'Merriweather', serif;

	&__date {
		color: #94a1b2;
	}

	&__content {
		color: #e5e5e6;
	}
}
