.my-work {
  grid-area: my-work;
  display: flex;
  flex-direction: column;
  width: $container-width;
  padding: 20px;
  background-color: #fff;
  color: #000;

  @media (max-width: 500px) {
    width: 100%;
  }
}
