.overall {
  grid-area: overall;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  width: $container-width;
  height: 100vh;
  @media (max-width: 500px) {
    justify-content: flex-start;
  }

  &__inner {
    padding: 20px;
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__scroll {
    text-align: center;
    span {
      display: block;
    }
  }
}
