// global
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff2) format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

.app {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "overall"
    "my-projects"
    "my-work";
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
