.work {
  margin-bottom: 30px;
  &__about {
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 0;
  }

  &__place {
    line-height: 0;
  }

  &__company {
    background-color: #dedede;
  }
}
